/* Megax fix. */
/* gtk.widgets.css fájból került átmásolásra ez az álomány csak át van nevezve az előtagja. Tehát frissítéskor onnét kell javítani. */
/* Változtatás: RBButtonBar és theme_bg_color */

/*************
 * Rhythmbox *
 *************/
RBButtonBar.toolbar {
    padding: 4px;
    border-style: none;
    background-color: @theme_bg_color;
    background-image: none;
    color: @theme_fg_color;
}

RBButtonBar.toolbar:insensitive {
    background-color: shade(@theme_bg_color, 0.9);
    color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

RBButtonBar.toolbar .button {
    border-color: shade(@theme_bg_color, 0.8);
    background-color: shade(@theme_bg_color, 1.08);
    background-image: none;
    color: @theme_fg_color;
}

RBButtonBar.toolbar .button:hover {
    border-color: shade(@theme_bg_color, 0.7);
    background-color: shade(@theme_bg_color, 1.10);
    background-image: none;
}

RBButtonBar.toolbar .button:active {
    border-color: shade(@theme_bg_color, 0.8);
    background-color: shade(@theme_bg_color, 0.95);
    background-image: none;
}

RBButtonBar.toolbar .button:active:hover {
    border-color: shade(@theme_bg_color, 0.7);
}

RBButtonBar.toolbar .button:focus,
RBButtonBar.toolbar .button:hover:focus,
RBButtonBar.toolbar .button:active:focus,
RBButtonBar.toolbar .button:active:hover:focus {
    border-color: shade(@theme_bg_color, 0.7);
}
